<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eros.data.api.mysql.dao.UserDao">

    <select id="findAll" resultType="cn.eros.data.domain.DocumentFlow">
        SELECT * FROM gw_document_flow ORDER BY node_id, document_id
    </select>
</mapper>